.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    overflow: hidden;
}

.splash-logo {
    width: 250px;
    height: 250px;
    object-fit: contain;
    animation: fadeIn 1.5s ease;
}

.splash-footer {
    position: absolute;
    bottom: 75px;
    text-align: center;
    animation: fadeIn 2s ease;
}

.splash-developed {
    font-size: 14px;
    color: #FFFAEB;
    font-weight: 400;
}

.splash-brand {
    margin-top: 2px;
    font-size: 18px;
    color: #FA057B;
    letter-spacing: 3px;
    font-weight: 500;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
